@keyframes router-load-indicator-animation {
  from {
    opacity: 0.0;
  }

  to {
    opacity: 1.0;
  }
}

.app-modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.app-spinner-holder {
  animation-delay: 100ms;
  animation-duration: 200ms;
  animation-fill-mode: both;
  animation-name: router-load-indicator-animation;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
